.App {
  text-align: center;
}

body {
  background:white;
}

.center {
  text-align: center;
}

.ui.radio> {
  color:white;
}

.scroll {
  overflow: scroll;
}


.App-link {
  color: #61dafb;
}

.select {
  text-align-last:center;
  font-size: 1em;
  color:black;
  background-color:lightblue;
  height: 3em;
}
